

.title-main{
    color: black;
    font-weight: 800;
    font-size: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}


.container{
    max-width: 1400px;
    margin: 0 auto;
   }
       
   .products-wrapper{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
      gap: 36px;
   }