.remove-card{
    font-size: 28px;
    font-weight: 600;
}
.products{
   display: flex;
    flex-direction: column;
    width: 1000px;
    gap: 35px;
   
}

.wrapper{
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 10px 1px rgb(127, 125, 125);
    padding: 10px;
    background-color: rgb(216, 221, 221);
}

.card-main{
    padding: 15px 25px 25px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.image img{
    width: 150px;
    height: 150px;
}
