
form input{
  padding: 10px;
  margin-bottom: 10px;
  border: 0.5px solid rgba(255,255,255,0.3);
  border-radius: 10px;
  outline: none;
  width: 80%;
 font-size: 20px; 
}


form{

    box-shadow: 5px 5px 10px 1px rgb(127, 125, 125);
    padding: 10px;
    background-color: rgb(216, 221, 221);
    margin-top: 35px;
}

.submit-btn{
    
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    width: 140px;
    height: 35px;
    color: #fafafa;
    background: rgb(87, 162, 87);;
    border: none;
    border-radius: 5px;
    margin: 6px;
    cursor: pointer;
    letter-spacing: 3px;
}

.error-message{
  color: red;
  font-weight: bold;
  margin: 10px;
}
